.dart_tool/
.pub/
build/
.DS_Store
*.iml
.gradle/
local.properties
*.keystore
*.jks
*.lock
.idea/
.vscode/
*.log
temp_assets/
# Flutter
build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/

# VS Code
.vscode/