# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/

# Android
*.iml
.gradle/
/local.properties
/android/local.properties

# macOS
*.swp
.DS_Store
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework

# Keys and secrets
*.keystore
*.jks
google-services.json
GoogleService-Info.plist
firebase_options.dart
.env
*.p12
*.pem

# Logs
*.log
